<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let section of sectionsData">
        <div class="section">
          <table class="table">
            <thead>
              <tr>
                <th colspan="4">{{ section.name }}</th>
              </tr>
              <tr>
                <th>Header1</th>
                <th>Header2</th>
                <th>Header3</th>
                <th>Header4</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let label of section.labels; let i = index">
                <tr>
                  <td>{{ label }}</td>
                  <td>{{ label }}</td>
                  <td>{{ label }}</td>
                  <td>{{ label }}</td>
                </tr>
                <tr>
                  <td>{{ section.values[i] }}</td>
                  <td>{{ section.values[i] }}</td>
                  <td>{{ section.values[i] }}</td>
                  <td>{{ section.values[i] }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  