<table>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
    <ng-container *ngFor="let section of sections">
      <tr>
        <td>
          {{ section.labelA }}<br>
          <strong>{{ section.valueA }}</strong>
        </td>
        <td>
          {{ section.labelB }}<br>
          <strong>{{ section.valueB }}</strong>
        </td>
        <td>
          {{ section.labelC }}<br>
          <strong>{{ section.valueC }}</strong>
        </td>
        <td>
          {{ section.labelD }}<br>
          <strong>{{ section.valueD }}</strong>
        </td>
      </tr>
    </ng-container>
  </table>
  